@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './lib/styles/osudroid.css';

@import "@fontsource/quicksand";
@import "../node_modules/flag-icons/css/flag-icons.min.css";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@plugin '@tailwindcss/forms';

@theme {
    --breakpoint-phone-sm: 22.5rem;
    --breakpoint-phone-lg: 30rem;
    --breakpoint-tablet-sm: 48rem;
    --breakpoint-tablet-lg: 64rem;
    --breakpoint-desktop-sm: 80rem;
    --breakpoint-desktop-lg: 90rem;
}